.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* :focus-within compatibilità con Firefox e Chrome Moderni */
input.visually-hidden:focus + label {
    outline: thin dashed;
}

input.visually-hidden:focus-within + label {
    outline: thin dashed;
}
